section.map
  .container
    .map__content
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1272.2111420441063!2d30.380263488782127!3d50.37732606418459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c92fb6f1fb01%3A0x41dcb7e1f387c581!2sMisto%20Kafe!5e0!3m2!1sru!2sua!4v1606210611064!5m2!1sru!2sua' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0' width='600' height='450' frameborder='0')
footer.footer
      .container
        .footer__content
          .footer__content-address
            h4.footer__content-address-title Наша адреса
            .footer__content-address-text
              p с. Крюківщина, вул Жулянська, 1В
              p ЖК Євромісто
              p Україна, Київська область
          .footer__content-socials
            .footer__content-socials-item
              a.facebook(href='https://www.facebook.com/hellomisto/')
            .footer__content-socials-item
              a.instagram(href='https://instagram.com/mistocafe_family?igshid=h0cabbylxt56')
            .footer__content-socials-item
              a.telegram(href='https://t.me/FamilyMistoCafe')
            .footer__content-socials-item
              a.viber(href='viber://chat?number=%2B380673030653')
          .footer__content-contacts
            h4.footer__content-contacts-title Контакти
            .footer__content-contacts-phones
              a(href='tel:+380673030653') +38 067 303 06 53
              a(href='tel:+380957341718') +38 095 734 17 18