header.header
    .container
      nav.navbar
        menu.menu
          .menu__list
            //- .menu__list-item-language
            //-   span Укр
            //-   |  
            //-   a.disabled(href='#') Рус
            .menu__list-item.menu__list-item--discounts.menu__list-item--animation
              svg.menu__list-item-graphic.menu__list-item-graphic--stroke.menu__list-item-graphic--arc(height='72' viewBox='0 0 207 71' xmlns='http://www.w3.org/2000/svg')
                path(d='M186.781 1H20.2188C9.11466 1 1.00011 10 1.00013 23V48C1.00014 56.0001 5.69799 70 20.2188 70H186.781C202.583 70 206 56.0001 206 48V23C206 13.5 199.167 1 186.781 1Z' pathLength='1' stroke='black' stroke-linecap='round' stroke-linejoin='round')
              a.menu__list-item-link(href='https://mistocafe.com.ua/stocks/')
                span акції
              .menu__list-item-window
                .menu__list-item-window-content
                  .menu__list-item-window-content-discount-text
                    | 2-га пiца зi знижкою -50% у разі самовиносу!
            .menu__list-item.menu__list-item--menu.menu__list-item--animation
              svg.menu__list-item-graphic.menu__list-item-graphic--stroke.menu__list-item-graphic--arc(height='72' viewBox='0 0 207 71' xmlns='http://www.w3.org/2000/svg')
                path(d='M186.781 1H20.2188C9.11466 1 1.00011 10 1.00013 23V48C1.00014 56.0001 5.69799 70 20.2188 70H186.781C202.583 70 206 56.0001 206 48V23C206 13.5 199.167 1 186.781 1Z' pathLength='1' stroke='black' stroke-linecap='round' stroke-linejoin='round')
              a.menu__list-item-link(href='https://mistocafe.com.ua/')
                span меню
              .menu__list-item-window
                .menu__list-item-window-content
                  .menu__list-item-window-content-menu-list
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/pizza/') піца
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/burgers/') бургери
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/beer/') до пива
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/pans/') пательні
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/salats/') салати
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/pasta/') пасти
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/first_meals/') перше
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/hot_meals/') гарячі
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/sweets/') солодке
                    .menu__list-item-window-content-menu-list-item
                      a(href='https://mistocafe.com.ua/children/') дитяче
            .menu__list-item.menu__list-item--delivery.menu__list-item--animation
              svg.menu__list-item-graphic.menu__list-item-graphic--stroke.menu__list-item-graphic--arc(height='72' viewBox='0 0 242 71' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M218.5 1H23.5001C10.5001 1 1.0001 10 1.00013 23V48C1.00015 56.0001 6.50006 70 23.5001 70H218.5C237 70 241 56.0001 241 48V23C241 13.5 233 1 218.5 1Z' pathLength='1' stroke='black' stroke-linecap='round' stroke-linejoin='round')
              a.menu__list-item-link(href='https://mistocafe.com.ua/delivery/')
                span доставка
              .menu__list-item-window
                .menu__list-item-window-content
                  .menu__list-item-window-content-delivery-title
                    | Безкоштовна доставка діє при замовленні від 250 грн.
                  .menu__list-item-window-content-delivery-additional
                    | Для жителів ЖК Євромісто - доставка безкоштовна!
            .menu__list-item.menu__list-item--contacts.menu__list-item--animation
              svg.menu__list-item-graphic.menu__list-item-graphic--stroke.menu__list-item-graphic--arc(height='72' viewBox='0 0 242 71' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M218.5 1H23.5001C10.5001 1 1.0001 10 1.00013 23V48C1.00015 56.0001 6.50006 70 23.5001 70H218.5C237 70 241 56.0001 241 48V23C241 13.5 233 1 218.5 1Z' pathLength='1' stroke='black' stroke-linecap='round' stroke-linejoin='round')
              a.menu__list-item-link
                span контакти
              .menu__list-item-window
                .menu__list-item-window-content
                  a.menu__list-item-window-content-phone(href='tel:+380673030653') +38 067 303 06 53
                  a.menu__list-item-window-content-phone(href='tel:+380957341718') +38 095 734 17 18
                  .menu__list-item-window-content-social
                    .menu__list-item-window-content-social-item
                      a(href='https://t.me/FamilyMistoCafe')
                        img(src='https://mistocafe.com.ua/img/telegram-icon-navbar.svg' alt='')
                    .menu__list-item-window-content-social-item
                      a(href='viber://chat?number=%2B380673030653')
                        img(src='https://mistocafe.com.ua/img/viber-icon.svg' alt='')
        .menu-mobile-contacts
          .close-btn
            .close-btn__row.close-btn__row--1
            .close-btn__row.close-btn__row--2
          .menu-mobile-contacts__content
            a.menu__list-item-window-content-phone(href='tel:+380673030653') +38 067 303 06 53
            a.menu__list-item-window-content-phone(href='tel:+380957341718') +38 095 734 17 18
            .menu__list-item-window-content-social
              .menu__list-item-window-content-social-item
                a(href='https://t.me/FamilyMistoCafe')
                  img(src='https://mistocafe.com.ua/img/telegram-icon-navbar.svg' alt='')
              .menu__list-item-window-content-social-item
                a(href='viber://chat?number=%2B380673030653')
                  img(src='https://mistocafe.com.ua/img/viber-icon.svg' alt='')
        .menu-mobile-btn
          .menu-mobile-btn__row.menu-mobile-btn__row--1
          .menu-mobile-btn__row.menu-mobile-btn__row--2
          .menu-mobile-btn__row.menu-mobile-btn__row--3
    .body-overlay
.modal-order
  .modal-order__body-overlay
  .modal-order__content
    .close-btn.modal-order__close-btn
      .close-btn__row.close-btn__row--1
      .close-btn__row.close-btn__row--2
    .modal-order__content-title
      p
        | Зробіть своє замовлення через один із месенджерів або зателефонувавши нам по номеру телефона
    .modal-order__content-phone
      .modal-order__content-phone-item
        a(href='tel:+380673030653') +38 067 303 06 53
      .modal-order__content-phone-item
        a(href='tel:+380957341718') +38 095 734 17 18
    .modal-order__content-social
      .modal-order__content-social-item
        a.modal-order__content-social-item-link(href='https://t.me/FamilyMistoCafe')
          img(src='https://mistocafe.com.ua/img/telegram-icon-navbar.svg' alt='')
        .modal-order__content-social-item-title Наш чат в Telegram
      .modal-order__content-social-item
        a.modal-order__content-social-item-link(href='viber://chat?number=%2B380673030653')
          img(src='https://mistocafe.com.ua/img/viber-icon.svg' alt='')
        .modal-order__content-social-item-title Наш чат в Viber
    .modal-order__content-graditude Дякуємо, що обрали MistoCafe! :)
.scroll-btn
  a.scroll-btn__link(href='.header')
    img(src='../img/scroll-btn.svg' alt='')
mixin headerlogo(style)
  .header__logo(style=style)
    .container
      .logo
        img(src='https://mistocafe.com.ua/img/logo.png' alt='')
