doctype html
html(lang='uk')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Сімейні пательні для компанії - Misto Cafe
    meta(name='description' content="Замовити їжу з пательні у Misto Cafe. Доставка у Вишневе, Крюківщина, Гатне. Готуємо смачні м'ясні страви на пательні з картоплею та овочами. На вибір 4 вида фірмових паталней на ваший смак!")
    meta(name='keywords' content="м'ясна пательня, пательня доставка, пательня доставка вишневе, пательня доставка крюківщина, замовити пательню, м'ясні страви замовити, м'ясо з картоплею замовити, пательня з ресторану, свинина замовити")
    link(rel='icon' href='../img/favicon.svg' type='image/x-icon')
    link(rel='shortcut icon' href='../img/favicon.svg' type='image/x-icon')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Nunito:wght@300;400;500;600&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='../css/style.min.css')
  body.body
    include ../includes/header.pug
    +headerlogo('background-image: url(../img/backgrounds/pans-bg.jpg);')
    section.products
      .container
        .products__title
          | СІМЕЙНІ ПАТЕЛЬНІ 
          span(style='text-transform: lowercase;') для компанії
        .products__content
          include ../includes/cards.pug
          //- (image, title, description, weight, value)

          +productCard('../img/pans/pans-card.png', "М'ясна розвага", 'Реберця телятини та свинини, курячі крильця Світ Чілі, стейк з ошийка свинини, картопля  по-селянськи та овочі гриль, соуси: барбекю, кисло-солодкий, гірчиця', '1500', '720')

          +productCard('../img/pans/pans-card.png', "Айсбан", 'Рулька маринована, подається зі смаженою картоплею та салатом з  синьої капусти, соуси: білий хрін та гірчиця', '1200', '460')

          +productCard('../img/pans/pans-card.png', '"Бандерівська"', 'Смажені картопля, соковита свинина з цибулею, часником, із додаванням овочів та ароматною зеленню', '1200', '390')

          +productCard('../img/pans/pans-card.png', 'Ковбасна BBQ Асорті', 'Чотири вида фірмових ковбас: баварьські, з індички, телятина з копченою журавлиною, баранина зі смаженою картоплею та соусами барбекю, гірчицею та кисло- солодким', '1200', '500')

    include ../includes/footer.pug
    script(src='../js/main.min.js')
